body{
 background-color: aqua; 
 color: blueviolet; 
 font-family: Arial;
}


h1{
    color:brown(225 ,0 ,0);
    font-size:40px;
    font-family: ¨"Arial";

}
color: rgb(225,0,0);
font-size: 30px;
font-family: "times New Roman";
margin-top: 40px;
{

ul}
list-style: circle
{

li}
color: rgb(136,225,0);
font-size:15px;
{

a}
list-style:none;
color:aquamarine;
]




